$color-theme: royalblue;
$color-gray-0: #eee;
$color-gray-1: #ddd;
$color-gray-2: #999;
$color-gray-3: #333;
$color-blue-0: lightsteelblue;

.paper {
  box-shadow: 1px 2px 3px 0px lighten($color-gray-2, 10%);
  border-radius: 5px;
}